*{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:#f4f4f9;
}
.container{
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 20px;
}

h1 {
     text-align: center;   
}

#todoinput{
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 2px;
}

#addtodo{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 15px rgb(175, 26, 26);
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
li:hover{
    background-color: aqua;
}

li:last-child{
    border-bottom: none;
}