:root{
    --body-background: #f4f4f9;
    --btn-preimary: #5cabff;
    --btn-secondary:#f8e068;
    --btn-active:#4a90e2;
    --btn-edit: #ffd700;
    --btn-delete:#ff6347;
    --btn-complete:#32cd32;

}
*{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:#f4f4f9;
}
.container{
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 20px;
}

h1 {
     text-align: center;   
}

#todoinput{
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 2px;
}

#addtodo{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 15px rgb(175, 26, 26);
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
li:hover{
    background-color: aqua;
}

li:last-child{
    border-bottom: none;
}
.filterbutton, .editBtn,.deleteBtn,.completedBtn{
    margin: 5px;
    padding: 10px,15px;
    background-color: var(--btn-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: brackground-color 0.3s;
}

.editBtn{
    background-color:var(--btn-edit) ;
}
.deleteBtn{
    background-color:var(--btn-delete) ;
}
.completedBtn{
    background-color:var(--btn-complete) ;
}

.filterbutton:hover{
    background-color: var(--btn-active);
}

.todoItem{
    letter-spacing: 1px;
}
.todoItem{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}