*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
.navbar{
    height: 75px;
    
}
ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    list-style-type: none;
    gap: 5px;
    padding-top: 3px 2px;
    background-color: greenyellow;
}
li{
    border: 1px solid aquamarine;
    padding: 4px 5px;
    background-color: aquamarine;
    border-radius: 5px;
}
span{
    display: block;
    width: 100%;
    text-align: center;
}

@media screen and (min-width:600px) {
    /* apply the following styles if maximum width is 600px or width <= 600px*/
    ul{
        flex-direction: row;
    }
   
}

h1,h2,.navlink, #custom{
    color: red;
}

nav span{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
li > span{
        /*it will pick immidiate span child present in the li*/
        text-decoration: underline;
}